.absolute { position: absolute; }
.relative {position: relative; }

.w-full { width: 100%; }  
.h-full { height: 100%; }  
.max-width { max-width: 800px; }  
.w100 { width: 100px; }  
.w200 { width: 200px; }  
.h100 { height: 100px; }  
.h200 { height: 200px; }  

.m0a { margin: 0 auto; }  

.block { display: block; }     
.inline-block { display: inline-block; }  
.flex { display: flex; }  

.flex-row { flex-direction: row; }  
.flex-wrap {flex-wrap: wrap; }  
.justify-around { justify-content: space-around; }  
.justify-between { justify-content: space-between; }  

.o-hidden { overflow: hidden; }

.font-size-half {font-size: .5rem; }  
.font-size-threequarter {font-size: .75rem; }  
.font-size-1 {font-size: 1rem; }  
.font-size-2 { font-size: 2rem; }  
.font-size-2p5 { font-size: 2.5rem; }  
.font-size-3 { font-size: 3rem; }  
.fontSize-40 { font-size: 40px; }  
.fontSize-24 { font-size: 24px; }  
.family-opensans { font-family: "Open Sans", sans-serif; }
.italic { font-style: italic; }  
.weight-400 { font-weight: 400; }  
.weight-700 { font-weight: 700; }  
.align-center { text-align: center; }  
.align-left { text-align: left; }  
.align-right { text-align: right; }  
.valign-bottom { vertical-align: bottom; }  
.lh-1p4 { line-height: 1.4; }  

.ph { padding: .5rem; }  
.p1 { padding: 1rem; }  
.p2{ padding: 2rem; }  
.p4 { padding: 4rem; }  

.pbh { padding-bottom: .5rem; }  
.pb1 { padding-bottom: 1rem; }  
.pb2 { padding-bottom: 2rem; }  
.pb4 { padding-bottom: 4rem; }  
.prh { padding-right: .5rem; }  
.pr1 { padding-right: 1rem; }  
.pr2 { padding-right: 2rem; }  
.pr4 { padding-right: 4rem; }  
.plh { padding-left: .5rem; }  
.pl1 { padding-left: 1rem; }  
.pl2 { padding-left: 2rem; }  
.pl4 { padding-left: 4rem; }  
.pth { padding-top: .5rem; }  
.pt1 { padding-top: 1rem; }  
.pt2 { padding-top: 2rem; }  
.pt4 { padding-top: 4rem; }  

.mh { margin: .5rem; }  
.m1 { margin: 1rem; }  
.m2 { margin: 2rem; }  
.m4 { margin: 4rem; }  

.mbh { margin-bottom: .5rem; }  
.mb1 { margin-bottom: 1rem; }  
.mb2 { margin-bottom: 2rem; }  
.mb4 { margin-bottom: 4rem; }  
.mrh { margin-right: .5rem; }  
.mr1 { margin-right: 1rem; }  
.mr2 { margin-right: 2rem; }  
.mr4 { margin-right: 4rem; }  
.mlh { margin-left: .5rem; }  
.ml1 { margin-left: 1rem; }  
.ml2 { margin-left: 2rem; }  
.ml4 { margin-left: 4rem; }  
.mth { margin-top: .5rem; }  
.mt1 { margin-top: 1rem; }  
.mt2 { margin-top: 2rem; }  
.mt4 { margin-top: 4rem; }  


.cursor-hand { cursor: pointer; }  
 
.z10 { z-index: 10; }  
 
.bs-solid { border-style: solid; }
.bw-1 { border-width: 1px; }
.bw-2 { border-width: 2px; }

