@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);
html, body {
  background-color: #FFFFFF;
  /* grey-500, TODO make this color a var */
  color: #50585D; 
}
a {
  text-decoration: none;
  color: #50585D; 
}
 a:hover {
}
h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.app {
  text-align: center;
  font-family: "Open Sans", sans-serif
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}
.posts {
  text-align: left;
  margin: 1rem;
}
